<div id="headerContainer">
  <div id="header">
        <div id="title" class="hidden-print">
          <a href="/{{ site.baseurl }}/exp1/index.html">Krypto</a>
        </div>

        <div id="lessonNavContainer" class="hidden-print">
          <nav id = "lessonNav">
            <a href="../exp1/index.html" class="lessonButton" data-index="0"><sub>1</sub> <span>Cäsar</span></a>
            <a href="../exp2/index.html" class="lessonButton" data-index="1"><sub>2</sub> <span>ROT-13</span></a>
            <a href="../exp3/index.html" class="lessonButton" data-index="2"><sub>3</sub> <span>ROT-X</span></a>
            <a href="../exp4/index.html" class="lessonButton" data-index="3"><sub>4</sub> <span>Monoalphabetisch</span></a>
            <a href="../exp5/index.html" class="lessonButton" data-index="4"><sub>5</sub> <span>Entschlüsseln</span></a>
            <a href="../exp6/index.html" class="lessonButton" data-index="5"><sub>6</sub> <span>Kryptoanalyse</span></a>
            <a href="../exp7/index.html" class="lessonButton" data-index="6"><sub>7</sub> <span>Knacknuss</span></a>
          </nav>
        </div>

        <nav id = "pageNav" class="hidden-print">
          <a href="../about/index.html" class="aboutButton">Info</a>
          <a href="../geheimnisse/index.html" class="guideButton">Geheimnisse</a> 
        </nav>         
  </div>
</div>